.techB{
    display: flex;
    border: 1px solid #13293D;
    border-radius: 100px; 
    background-image: url("/public/img/techBlogging.gif");
    background-position: left;  
    background-size: cover;
}


.jgc{
    display: flex;
    border: 1px solid #13293D;
    border-radius: 100px ; 
    background-image: url("/public/img/jamesGeovanyClothing.gif");
    background-position: center;  
    background-size: cover;
}

.jga{
    display: flex;
    border: 1px solid #13293D;
    border-radius: 100px ; 
    background-image: url("/public/img/jamesGeovannyArt.gif");
    background-size: cover;
   background-position: left;
}

.wtw{
   display: flex;
   border: 1px solid #13293D;  
   border-radius: 100px ; 
   background-image: url("/public/img/wtweather.gif");
   background-position: center;  
   background-size: cover;
}

.cD{
   display: flex;
   border: 1px solid #13293D;
   border-radius: 100px ; 
   background-image: url("/public/img/Quiz.gif");
   background-position: center;  
   background-size: cover;
}


.oldP{
    display: flex;
    border: 1px solid #13293D;
    border-radius: 100px; 
   background-image: url("/public/img/hcjProfile.gif");
   background-position: left;  
   background-size: cover;
}

.bos{
    display: flex;
    border: 1px solid #13293D;
    border-radius: 100px ; 
    background-image: url("/public/img/backofShop.gif");
    background-position: center;  
    background-size: cover;
   
}

.mySol{
    display: flex;
    border: 1px solid #13293D;
    border-radius: 100px ; 
    background-image: url("/public/img/mySocial.gif");
    background-position: center;  
    background-size: cover;
}

.aDecor{
    opacity: 0;
    transition: 100ms;
}

.aDecor:hover{
    opacity: 1;
    padding: 30px;
    text-align: center;
    display: block;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100%;
    background-color: #1B98E0;
}


.headerForPage{
    color: #13293D;
}

.center{
    text-align: center;
}

.centerDiv{
    float: right;
    margin: 10px;
}

.styleForm{
    margin: 10px;
    box-shadow: 15px 10px #13293D ;
}

.submitbutton{
    background-color: #1B98E0;
    color:  #ecf0f3;

}

.downloadButton{
    background-color: #1B98E0;
    color:  #ecf0f3;
    border-radius: 5px;
}

.imgSize{
    height: 30px;
}


.sizeEmoji{
    text-decoration: none;
}